@import url('https://fonts.googleapis.com/css?family=Bangers|Lato|Monoton|Open+Sans|PT+Serif|Pacifico|Righteous|Roboto+Condensed|Rock+Salt|Staatliches|Ubuntu&display=swap');
body{
    padding: 0%;
    margin: 0%;
    font-family: 'Staatliches';
}
.navbar-name{
    font-family: 'Staatliches';
    font-size: 35px;
    color: black !important;
    
}
.nav-link{
    font-size:20px;
    margin: 21px;
 
    color: black !important;
    font-family: 'Staatliches';
  
}
.nav-link:hover{
    color: rgb(82, 100, 202) !important;
}
.active .nav-link{
    color: rgb(82, 100, 202) !important;
}
.menu-right-btn
{
    padding: 13px 46px;
    margin-right: 4%;
    background-color: transparent;
    transition: all 300ms ease-in;
}
.menu-right-btn:hover{
    color:white;
    background-color: rgb(82, 100, 202);
}